<h3>New Message</h3>

<form method="POST", action="/new">
    <p>Username</p>
    <input type="text" name="user" placeholder="Name">
    <p>Message</p>
    <input type="text" name="message" placeholder="Message">
    <input type="submit" value="Add Message">
</form>